.idea/*
build/*
.gradle/*
local.properties
lint.xml
.DS_Store
*.iml
**/*.iml
app/*.apk
captures
projectFilesBackup/
gradle.properties
*.crt
*.zip
mboehaolib/app
firebase.json
firebase/*
functions/*
app/google-services.json
