<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.jokoframework">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:name="io.github.jokoframework.singleton.MboehaoApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/mboehao_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="io.github.jokoframework.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.jokoframework.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.jokoframework.activity.SplashActivity" />
        </activity>
        <activity
            android:name="io.github.jokoframework.activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Material"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.jokoframework.activity.LoginActivity" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.jokoframework.activity.LineChartActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Material"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="io.github.jokoframework.activity.MultipleLineChartActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="io.github.jokoframework.activity.BarChartActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Material"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="io.github.jokoframework.activity.LogOutActivity"
            android:label="@string/app_name" />
        <activity
            android:name="io.github.jokoframework.activity.HorizontalBarChartActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Material"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="io.github.jokoframework.activity.SettingsActivity"
            android:label="@string/app_name"
            android:parentActivityName="io.github.jokoframework.activity.HomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="io.github.jokoframework.activity.ChangePasswordActivity"
            android:label="@string/app_name"
            android:parentActivityName="io.github.jokoframework.activity.HomeActivity"
            android:theme="@android:style/Theme.Material"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="io.github.jokoframework.activity.ShareActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".otp.OtpActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Material"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="io.github.jokoframework.activity.AboutActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="io.github.jokoframework.activity.CountryActivity"
            android:label="@string/app_name"
            android:parentActivityName="io.github.jokoframework.activity.HomeActivity"
            android:theme="@android:style/Theme.Material"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".otp.add.ScanActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            />

        <activity
            android:name=".otp.edit.DeleteActivity"
            android:label="@string/delete_question"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            />

        <activity
            android:name=".otp.edit.EditActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="stateVisible"
            />

        <activity
            android:name=".otp.edit.SaveActivity"
            android:label="@string/save_question"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            />
        <activity
            android:name="io.github.jokoframework.activity.SecondAuthenticationActivity"
            android:label="User's OTP"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            />

        <service
            android:name="io.github.jokoframework.service.PeriodicService"
            android:enabled="true" />
        <service
            android:name="io.github.jokoframework.service.TestServiceNotification"
            android:enabled="true" />
        <service
            android:name="io.github.jokoframework.service.CronService"
            android:enabled="true" />
        <service
            android:name="io.github.jokoframework.service.CountryHelper"
            android:enabled="true" />
        <service android:name="io.github.jokoframework.service.FirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="io.github.jokoframework.service.FirebaseMessageServiceJoko">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:1037867417276" />
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_mboehao" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/progress_bar" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />
        <meta-data
            android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false" />
        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/parse_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f66595d9e071f4871fbeda4d6d8f0957c9a85bae" />


    </application>

</manifest>